body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ellipse {
    position: absolute;
    /* height: 324px; */
    width: 600px;
    height: 600px;
}
.container {
    margin-right: 15%;
    margin-left: 15%;
}
.log {
    display: flex;
}
header {
    display: flex;
    justify-content: space-between;
}
.logo span {
    font-size: 40px;
    color: #18216D;
    line-height: 90px;
}
.menu {
    margin-left: 45px;
}
.menu ul {
    display: flex;
    line-height: 55px;
    list-style: none;
    gap: 50px;
}
.menu ul li a {
    text-decoration: none;
    font-size: 22px;
    color: #18216D;
}
.signin {
    font-size: 22px;
    color: #18216D;
    text-decoration: none;
    line-height: 95px;
    margin-right: 40px;
}
.sign button {
    background: #18216D;
    border-radius: 6px;
    padding: 15px 20px;
    border: none;
    color: white;
}
.best h2 {
    color: #18216D;
    font-size: 50px;
    width: 50%;
}
.best p {
    color: #18216D;
    font-size: 22px;
    font-weight: 200;
    width: 50%;
    font-family: sans-serif;
}
.best button {
    background: #00ECD0;
    border-radius: 6px;
    color: #18216D;
    padding: 20px;
    border: none;
    outline: none;
}
.best {
    position: relative;
    height: 500px;
}
.bestimage {
    position: absolute;
    top: 0;
    right: 0;
}
.ueses {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
.heart-star {
    display: flex;
    justify-content: space-evenly;
    width: 30%;
}
.col p {
    font-weight: 700;
    color: #18216D;
    font-size: 40px;
    width: 65%;
}